<div class="bg-light px-4 text-uppercase font-weight-bold">
    Order Summary
</div>
<div class="p-4">
    <p class="font-italic mb-4">Shipping Cost will be added depending on Choice Made</p>
    <ul class="list-unstyle mb-4" *ngIf="(basketTotal$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order Subtotal</strong>
            <strong>{{totals.subTotal | currency:'NGN': 'symbol-narrow'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping and Handling</strong>
            <strong>{{totals.shipping | currency:'NGN': 'symbol-narrow'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{totals.total | currency:'NGN': 'symbol-narrow'}}</strong>
        </li>
    </ul>
</div>